html, body{
    min-height:100%;
}

body {
    background-color: #F3F3F3;
}



h1{
    font-weight: 300;
}



.component{
    padding:.5em;
    box-sizing: border-box;
}



.card{
    margin-top:10px;
}