html, body{
    min-height:100%;
}

body {
    background-color: #F3F3F3;
}



h1{
    font-weight: 300;
}



.component{
    padding:.5em;
    box-sizing: border-box;
}



.card{
    margin-top:10px;
    border:none;
}

#projects{
    margin-bottom:20px;
}

#imgPreviewWrapper{
    width:200px;
    margin: auto;
}

#imgPreview{
    width:100%;
}

#profileImg{
    width:200px;
    margin:auto;
}
#profileImg > img{
    width:100%;
}