
p {
        font-family: 'Open Sans', sans-serif !important;
}

html{
    min-height:100%;
    background-color: #d9eaf940;
    /* eff6fd */
    position:relative;
    
}

body {
    height:100%;
    background-color: transparent;
    padding-top:2.5em;
}

nav .navbar-brand{
    /* font-family: 'Playfair Display', sans-serif !important;
    text-shadow: -1px 1px #e4e4e4;
    font-size: 1.8em !important;
    color: rgba(74, 74, 74, 0.9) !important; */
}
blockquote{
font: 1em normal helvetica, sans-serif;
margin-top: 10px;
margin-bottom: 10px;
margin-left: 30px;
padding-left: 15px;
padding-right:20px;
border-left: 3px solid #ccc;
}

code{
    background: #f4f4f4;
    /* border: 1px solid #ddd;
    border-left: 3px solid #f36d33; */
    color: #666;
    page-break-inside: avoid;
    font-family: monospace;
    font-size: 1em;
    line-height: 1.6;
    margin-bottom: 1.6em;
    max-width: 100%;
    overflow: auto;
    padding: 1em 1.5em;
    display: block;
    word-wrap: break-word;
}
h1{
    font-weight: 300;
}

.noDisplay{
    display:none;
}


.component{
    padding:1.2em 2em;
    box-sizing: border-box;
}



.card{
    margin-top:10px;
    border-radius:0;
}

#projects{
    margin-bottom:20px;
}

.panel .dropdown{
    position:static !important;
   
}

.panel{
    position:relative;
}
.panel .dropdown-toggle{
    position: absolute;
    right:0;
    top:0;
    z-index: 2;
}
#imgPreviewWrapper{
    width:200px;
    margin: auto;
    position:relative;
}

#imgPreview{
    width:100%;
    position:relative;
}
#imgPreview::after{
    content:"";
    position: relative;
    top:0;
    left:0;
    height: 200px;
    width:200px;
    z-index: 5;
    background-color: red;
    border-radius: 100%;
}

#profileImg{
    width:200px;
    height:200px;
    margin:auto;
   
}
#profileImg > img{
    width:100%;
}

.component:first-child{
    margin-top:0 !important;
}

#projectPreviewEdit,
#projectPreviewAdd{
    width:100%;
}
.project{
    transition:all .6s ease;
    overflow:visible
}
.project:hover .card{
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, .14), 0 1px 18px 0 rgba(0, 0, 0, .12), 0 3px 5px -1px rgba(0, 0, 0, .2) !important;
}
.projectPreviewWrapper{
    width:80%;
    margin: auto;
}
.projectPreviewWrapper  img{
    width:100%;
}
.project .card{
    transition: all .6s ease;
    cursor: pointer;
}
.project .dropdown{
    z-index: 3;
}
.project-link{
    position: absolute !important;
    top: -50px !important;
    right: 20px !important;
}
.project .dropdown > a{
    position: absolute;
    right: 1px;
    background-color: rgba(0,0,0,0.3);
    color: white;
    border: none;
}

#editAboutBtn{
    position: absolute;
    right: 15px;
    top: 0px;
}


.project .card-body{
    position:relative;
    padding-top:10px;
    padding-bottom:10px;
}
.project  .card-title
{
   
    font-size: 1.8em;
    font-weight: lighter; 
    
}
.project .card-img-top{
   transition: all .6s ease-in-out;
}

.project .card-img-top-wrapper{
    overflow:hidden;
 }
.project .card-img-top:hover{
    transform: scale(1.2);
}

.nav a,
.nav a:link {
    color:inherit;
}

.shadow-sm{
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important; */
    box-shadow: 0 2px 2px 0 hsl(210, 33%, 80%, .14), 0 3px 1px -2px hsl(210, 33%, 80%,.2), 0 1px 5px 0 hsl(210, 33%, 80%,.2) !important;    
}
.card {
    border: none !important;
}
.socialLinkBtn{
    display: inline-block;
    padding: 5px;
    margin-right:5px;
    background: #FFFFFF;
  
    /* Font styles */
    color: inherit;
    /* font-weight: ; */
    text-decoration: none;
    position: relative;
    box-shadow: 
      1px 1px #CDE0F0,
      2px 2px #CFDEEA,
      3px 3px #C2D7E7;
    transition: all 0.2s ease-in;
}

.socialLinkBtn:hover{
    background: #FFFFFF;
    text-decoration:none;
    color:inherit;
    box-shadow: none;
    top: 3px;
    left: 3px;
}

.inline-link {
    display: inline-block;
    margin: 0 0.2em;
    padding: 3px;
    background: #97CAF2;
    border-radius: 2px;
    transition: all 0.3s ease-out;
  
    /* Font styles */
    text-decoration: none;
    font-weight: lighter;
    color: white;
  }

  .inline-link:hover   { background: #53A7EA;
color:white;
text-decoration: none; }

.noContent{
    position: relative;
    top:40%;
    transform: translateY(-50%);
    font-size: 2em;
}

.project-link{
    position: absolute;
    top:-31px;
    right:0;
}
.project-link a{
    /* background-color: rgba(0,0,0,0.3);
    color: white;
    border:none; */
}
/* --- CUSTOM AUTH */
.auth{
    padding:0;
}
.auth .card-header{
    background-color:inherit;
    
}
.auth .card-header h3{
    font-weight: lighter;
}
/* ------------------- */

/* ---- CUSTOM MODAL ----- */
.modal{
    background-color: #5fe0f52b;
}
.modal-content{
    border-radius:0px;
}
.modal-header,
.modal-footer{
    border:none;
}
.modal-title{
    font-weight: 300;
    font-size: 2em;
}
/* ------------------- */

/* --- CUSTOM BTN --- */

.bordered-link {
    display: inline-block;
    padding: 8px;
    border: 3px solid #f1f1f1;
    border-radius: 6px;
    box-shadow: 0 2px 1px rgba(0, 0, 0, 0.2), inset 0 2px 1px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 14px;
    /* text-transform: uppercase; */
    color: #3b463c;
    background-color: white;
    cursor:pointer;
  }
  
  .bordered-link:hover  { border-color: #9dd1e8; }

  .bg-yellow{
    background-color:#fffde7;
  }
  
.btn{
    border-radius:0px;
    font-family: 'Open Sans', sans-serif !important;
    /* box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important; */

}

.btn-secondary{

}

.btn-light{
    /* color: #212529;
    background-color: #fdfdfdfc;
    border-color: #eaeaea; */
}

.btn-primary{
    background-color:#2196F3;
    border-color:#2196F3;
    /* border-radius:0px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .14), 0 3px 1px -2px rgba(0, 0, 0, .2), 0 1px 5px 0 rgba(0, 0, 0, .12) !important;
    background-color:rgba(58, 161, 255, 0.76);
    border-color:rgba(58, 161, 255, 0.76);
     color: #F5F5F5; */
    /* color:white;  */
}
/* -------------- */

/* ----- CUSTOM ALERT */
.custom-alert{
    position: absolute;
    z-index: 2;
    right: 10px;
    top: 15%;
    border-radius: 0px;
    transition: all 0.5s ease;
}
/* ----------------- */

nav .pointer{
    cursor: pointer ;
}

@media only screen and (max-width: 500px) {
    body{
        margin-right:0;
    }
    .modal-content{
        
        padding:0;

    }
    .modal{
        padding:0;
    }
    
}